*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/library/build
flashtext/build
/captures
.externalNativeBuild
app/libs/
app/mirror/.gen/cache/classes/
app/mirror/.gen/cache/crunched-pngs/1/
app/mirror/.gen/cache/crunched-pngs/10/
app/mirror/.gen/cache/crunched-pngs/11/
app/mirror/.gen/cache/crunched-pngs/12/
app/mirror/.gen/cache/crunched-pngs/2/
app/mirror/.gen/cache/crunched-pngs/4/
app/mirror/.gen/cache/crunched-pngs/5/
app/mirror/.gen/cache/crunched-pngs/6/
app/mirror/.gen/cache/crunched-pngs/7/
app/mirror/.gen/cache/crunched-pngs/8/
app/mirror/.gen/cache/crunched-pngs/9/
app/mirror/.res/
flashtext/src/main/java/
flashtext/src/main/res/drawable/
library/build/generated/assets/
library/build/generated/res/
library/build/generated/source/aidl/
library/build/generated/source/rs/
library/build/intermediates/bundles/debug/aidl/
library/build/intermediates/bundles/debug/assets/
library/build/intermediates/bundles/release/aidl/
library/build/intermediates/bundles/release/assets/
library/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
library/build/intermediates/incremental/packageDebugAndroidTest/
library/build/intermediates/incremental/packageDebugResources/aapt-temp/
library/build/intermediates/incremental/packageReleaseResources/aapt-temp/
library/build/intermediates/incremental/processDebugAndroidTestResources/
library/build/intermediates/incremental/processDebugResources/
library/build/intermediates/lint/
library/build/intermediates/manifest/tmp/
library/build/intermediates/rs/
library/build/intermediates/shaders/
